{#
Displays a single harvest source errors summary.

source         - A source to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).
show_organization - Boolean on whether to show the related organization

Example:

  {% snippet 'snippets/source_errors_item.html', source=sources[0] %}

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = source.title or source.name %}
{% set source_type = h.get_pkg_dict_extra(source, 'source_type') %}
{% set url = h.url_for('harvest_job_show_last', source=source.name) %}
{% set job = h.get_latest_job(source.get('id')) %}
{% set error_summary = job.get('gather_error_summary', []) + job.get('object_error_summary', []) %}

<li class="{{ item_class or "dataset-item" }}">
  <div class="dataset-content">
    <h3 class="dataset-heading">
      {{ h.link_to(h.truncate(title, truncate_title), url) }}
      {% if source.get(state, '').startswith('draft') %}
        <span class="label label-info">{{ _('Draft') }}</span>
      {% elif source.get(state, '').startswith('deleted') %}
        <span class="label label-important">{{ _('Deleted') }}</span>
      {% endif %}
    </h3>

    {% if not job %}
      <p class="muted">
        {% if source.status %}
          {{ _('Datasets') }}: {{ source.status.total_datasets }}
        {% endif %}
        {% if not within_organization and source.organization %}
          &mdash; {{ _('Organization') }}: {{ h.link_to(source.organization.title or source.organization.name, h.url_for('organization_read', id=source.organization.name)) }}
        {% endif %}
      </p>

    {% elif job.status == 'Finished' %}
      {% if error_summary|length == 0 %}
        {% snippet 'snippets/message_table.html', message='No errors for the last harvest job' %}
      {% else %}
        {% snippet 'snippets/job_error_summary.html', summary=error_summary %}
      {% endif %}

    {% elif job.status in ['Pending', 'Running'] %}
      {% snippet 'snippets/message_table.html', message='Harvest job status: '+job.status %}

    {% endif %}

  </div>
</li>
